<div class="form-inline" action="">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="Buscar"
           [(ngModel)]="filtroLista"
           />
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th><button class="btn btn-outline-primary" (click)="alternarImagem()">Mostrar Imagem</button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <th>{{evento.id}}</th>
      <th><img *ngIf="mostrarImagem"
               src="http://localhost:5000/img/{{evento.imageUrl}}"
               [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem" /></th>
      <th>{{evento.tema | uppercase}}</th>
      <th>{{evento.local | lowercase}}</th>
      <th>{{evento.dataEvento}}</th>
      <th>{{evento.qtdPessoas}}</th>
      <th>{{evento.lote | uppercase}}</th>
      <th>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </th>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h3>Nenhum evento encontrado</h3>
      </td>
    </tr>
  </tfoot>
</table>


{{eventos[0].tema}}

